@media screen and (max-width: 576px) {
    nav, .nav-links ul {
        flex-direction: column;
    }
    .nav-links ul {
        gap: 5px;
    }

    .header-banner {
        margin: 0 auto;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        text-align: center;
    }
    .banner-content h1 {
        line-height: 42px;
        font-size: 28px;
    }

    .sponsors-list {
        width: 83%;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    .sponsors-list img {
        width: 52px;
        height: 15px;
    }

    .popular {
        /* TODO: cut display */
        display: none;
        width: 93%;
    }
    .cards-container {
        grid-template-columns: 1fr;
    }

    .feature {
        width: 90%;
        flex-direction: column-reverse;
        text-align: center;
        gap: 35px;
    }
    .feature-image img {
        width: 100%;
    }
    .feature-content h2 {
        font-size: 24px;
    }
    .feature-content p {
        width: 95%;
        margin: 16px auto;
        margin-bottom: 30px;
    }


}