@media screen and (min-width: 576px) and (max-width: 992px) {

    .sponsors-list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }


    .popular {
        width: 93%;
    }
    .cards-container {
        grid-template-columns: repeat(2, 1fr);
    }
}