@media screen and (min-width: 576px) and (max-width: 992px) {

    .sponsors-list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    .popular {
        width: 93%;
    }
    .cards-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .feature {
        width: 90%;
        flex-direction: column-reverse;
        text-align: center;
        /* gap: 35px; */
    }
    .feature-image img {
        width: 100%;
    }
    .feature-content h2 {
        font-size: 24px;
    }
    .feature-content p {
        width: 95%;
        margin: 16px auto;
        margin-bottom: 30px;
    }

    footer {
        margin-top: 80px !important;
    }

}