@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins {
    font-family: "Poppins", sans-serif;
}
* {
    margin: 0;
    padding: 0;
}

.btn-primary {
    color: white;
    background-color: #E02C6D;
    border: none;
    border-radius: 41px;
    padding: 10px 24px;
    font-size: 16px;
    font-weight: 600;
}
.btn-2 {
    color: rgba(224, 44, 109, 0.87);
    font-size: 16px;
    font-weight: bold;
    border: none;
    margin: 50px 0;
    text-align: end;
}
.btn-primary:hover, .btn-2:hover {
    cursor: pointer;
    opacity: 0.9;
}

/* header-nav */
nav {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 45px auto;
}
.nav-left h2 {
    color: #3A3A3A;
}
.nav-links ul {
    display: flex;
    flex-wrap: wrap;
}
.nav-links ul li {
    margin-right: 34px;
    list-style: none;
}
.nav-links ul li a {
    color: #3A3A3A;
    font-weight: 600;   /* semi-bold */
    text-decoration: none;
}

.header-banner {
    width: 75%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-image {
    background-image: url("/media/images/Circle\ design.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
.banner-image img {
    padding-top: 8px;
    padding-right: 23px;
    width: 100%;
}
.banner-content h1 {
    color: #3A3A3A;
    font-weight: bold;
    font-size: 52px;
    line-height: 70px;
}
.banner-content p {
    color: #3A3A3A;
    font-weight: 600;
    margin: 20px 0;
}

.sponsors {
    margin: 70px 0;
}
.sponsors hr {
    border: none;
    height: 2px;
    background-image: linear-gradient(to right, rgba(192, 204, 218, 0.1), rgba(192, 204, 218, 0.6), rgba(192, 204, 218, 0.1));
}
.sponsors-list {
    width: 70%;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    gap: 60px;
}


/* main */
.popular {
    width: 65%;
    margin: 95px auto;
}
.popular h2 {
    text-align: center;
    color: #3A3A3A;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 50px;
}
.rating {
    gap: 2px;
    font-size: 11px;
    color: #6f6f7a;
    margin: 3px 0;
}
.rating i {
    color: #fbbf24; /* gold */
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.card {
    border-radius: 5px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
    padding: 15px;
}
.card img {
    width: 100%;
}
.card h3 {
    font-size: 28px;
    font-weight: 500;
    color: #18191F;
}
.card h4 {
    font-size: 24px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    margin: 10px 0;
}
.card p {
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1.8%;
    color: #787885;
}